/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
}

header {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}

body {
  padding: 30px;
  width: 100%;
}

.comedian {
  font-size: 200%;
}

#container {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}

#comedian {
  font-size: 200%;
  float: left;
  font-weight: bold;
}

#home {
  color: red;
  font-size: 150%;
  font-weight: bold;
  padding-right: 15%;
  float: right;
}
